<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>Brief Generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.rawgit.com/CrackerakiUA/ngImgCropExtended/master/compile/minified/ng-img-crop.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/vendor/skin.min.css">
    <link rel="stylesheet" href="static/css/vendor/balloon.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body ng-controller="briefController">
    <div class="main">
        <div class="row">
            <div class="col m9">
                <div class="card white">
                    <div class="card-content">
                        <div class="row">
                            <div class="col m12">
                                <span class="card-title">BRIEF</span>
                            </div>
                            <div class="col m12" id="brief-block">
                                <!-- TEMPLATE BEGINS -->
                                <div class="template" ng-include="url"></div>
                                <!-- TEMPLATE ENDS -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col m3" id="items-block">
                <div class="card white">
                    <div class="card-content">
                        <div class="row">
                            <div class="col m12">
                                <span class="card-title">ITEMS</span>
                            </div>

                            <div class='col m12 item teal z-depth-2 noselect' text-element html5-drag>
                                <div class="toolbar" toolbar ng-hide="preview"></div>
                                <h5 class="block-title"> Text</h5>
                            </div>
                            <div class='col m12 item teal z-depth-2 noselect' image-element html5-drag>
                                <div class="toolbar" toolbar ng-hide="preview"></div>
                                <h5 class="block-title"> Image</h5>
                            </div>
                            <div class='col m12 item teal z-depth-2 noselect' calculation-element html5-drag>
                                <div class="toolbar" toolbar ng-hide="preview"></div>
                                <h5 class="block-title"> Calculation</h5>
                            </div>
                            <div class='col m12 item teal z-depth-2 noselect' aircraft-element html5-drag>
                                <div class="toolbar" toolbar ng-hide="preview"></div>
                                <h5 class="block-title"> Aircraft</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" style="position: fixed; bottom: 80px; right: 20px;" href="#settingsModal"><i class="material-icons">settings</i></a>
        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" style="position: fixed; bottom: 20px; right: 20px;" href="#settingsModal"><i class="material-icons">help</i></a>
        <!-- Modal Structure -->
        <div id="settingsModal" class="modal bottom-sheet">
            <div class="modal-content">
              <h4>Settings</h4>
              <div class="row top-block">
                <div class="col m10 templates-block">
                  <div class="row">
                      <div class="col m12">
                          <h5>TEMPLATES</h5>
                      </div>
                      <div class="col m1" ng-repeat="template in templates">
                        <a href="#" ng-click="selectTemplate(template)">
                            <img src="http://placehold.it/300?text={{ template.title }}" style="width: 100%;">
                            <p style="text-align: center;">{{ template.title | uppercase }}</p>
                        </a>
                    </div>
                </div>


            </div>
            <div class="col m2 buttons-block">
                <div class="row">
                    <div class="col m12">
                        <span class="card-title">ACTIONS</span>
                    </div>
                    <a class="waves-effect waves-light btn col m12" ng-click="generateBrief()">preview</a>
                    <a class="waves-effect waves-light btn col m12" ng-click="generateBrief()">generate brief</a>
                    <a class="waves-effect waves-light btn col m12">generate pdf</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<!-- Modal Structure -->
<div id="edit_modal" class="modal modal-fixed-footer" image-modal>
    <div class="modal-content">  
        <h4>Edit image</h4>          
        <div class="row">
            <div class="file-field input-field col s4">
              <div class="btn">
                <span>Image</span>
                <input type="file" id="fileInput" />
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>

        <div class="input-field col s3">
          <input id="width" type="text" class="validate" ng-model="images[editable_image.id].cropper.cropWidth">
          <label for="width">Width</label>
      </div>
      <div class="input-field col s3">
          <input id="height" type="text" class="validate" ng-model="images[editable_image.id].cropper.cropHeight">
          <label for="height">Height</label>
      </div>
      <div class="input-field col s2">
          <input id="aspect" type="checkbox" class="validate" ng-model="aspectBool" ng-change="calcAspect(editable_image.id)">
          <label for="aspect">Fix aspect</label>
      </div>
  </div>
  <div>

<!--   <canvas width="800" height="400" id="canvas" image-cropper image="editable_image.src" keep-aspect="editable_image.keep_aspect" cropped-image="images[editable_image.id]" crop-width="editable_image.crop_width" crop-height="editable_image.crop_height" min-width="100" min-height="50" ></canvas> -->


<div class="cropArea">
      <img-crop image="images[editable_image.id].original" area-type="rectangle" area-init-size="{ w:images[editable_image.id].cropper.cropWidth, h:images[editable_image.id].cropper.cropHeight}" cropject="images[editable_image.id].cropper" result-image="images[editable_image.id].cropped" result-image-size="{ w:images[editable_image.id].cropper.cropWidth,h:images[editable_image.id].cropper.cropHeight}" aspect-ratio="images[editable_image.id].aspect"></img-crop>
    </div>  <!-- <input type="button" class="btn" ng-click="resize()"> -->
  </div>
</div> 
<div class="modal-footer"> 
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>  
</div>
</div>
</div>

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript" src="static/js/vendor/angular.min.js"></script>
<script type="text/javascript" src="static/js/app.js"></script>
<script type="text/javascript" src="static/js/dragdrop.js"></script>
<script type="text/javascript" src="static/js/vendor/tinymce.min.js"></script>
<script type="text/javascript" src="static/js/vendor/angular-tinymce.min.js"></script>
<script type="text/javascript" src="static/js/vendor/angular-img-cropper.js"></script>
<script type="text/javascript" src="static/js/brief-controller.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
    $('.modal-trigger').leanModal();
    $('#settingsModal').openModal()
});

</script>
</body>
</html>
