        #brief-block {
            min-height: 400px;
        }

        #items-block {
            min-height: 600px;
        }

        #brief-block .dropzone {
            min-height: 150px;
        }

        div.dropzone {
            border: 1px solid black;
            padding: 10px !important;
        }

        #items-block .item {
            width: 100%;

        }

        .item {
            margin: 5px;
            padding: 0 !important;
        }

        .item .result {
            padding: 10px;
        }

        .block-title, .toolbar{
            display: none;
        }

        #items-block .block-title {
            text-align: center;
            display: block;
        }

        #brief-block .toolbar {
            display: block;
        }

        .buttons-block .btn {
            margin: 5px 0;
        }

        .result *  {
            max-width: 100%;
        }
        .noselect {
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none;   /* Chrome/Safari/Opera */
          -khtml-user-select: none;    /* Konqueror */
          -moz-user-select: none;      /* Firefox */
          -ms-user-select: none;       /* IE/Edge */
          user-select: none;           /* non-prefixed version, currently not supported by any browser */
      }

      .cropArea {
          background: #E4E4E4;
          overflow: hidden;
          width: 730px;
          height: 400px;
      }