<div class="row">
    <div class='col m12 dropzone' html5-drop on-drop='drop()'></div>
</div>
<div class="row">
    <div class='col m4 dropzone' html5-drop on-drop='drop()'></div>
    <div class='col m4 dropzone' html5-drop on-drop='drop()'></div>
    <div class='col m4 dropzone' html5-drop on-drop='drop()'></div>
</div>
<div class="row">
    <div class='col m3 dropzone' html5-drop on-drop='drop()'></div>
    <div class='col m3 dropzone' html5-drop on-drop='drop()'></div>
    <div class='col m3 dropzone' html5-drop on-drop='drop()'></div>
    <div class='col m3 dropzone' html5-drop on-drop='drop()'></div>
</div>