<div class="row">
    <div class='col m12 dropzone' html5-drop on-drop='drop()'></div>
</div>
<div class="row">
    <div class='col m6 dropzone' html5-drop on-drop='drop()'></div>
    <div class='col m6 dropzone' html5-drop on-drop='drop()'></div>
    <div class='col m6 dropzone' html5-drop on-drop='drop()'></div>
    <div class='col m6 dropzone' html5-drop on-drop='drop()'></div>
</div>
<div class="row">
    <div class='col m12 dropzone' html5-drop on-drop='drop()'></div>
</div>